<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Text Finder - VueJS</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <div id="app">
      <div class="top-wrapper">
        <div class="container">
        <p>Find Words in YouTube Videos Easily</p>
        <div class="search">
          <input class="url" type="text" v-model="url">
          <input class="kataKunci" type="text" v-model="kataKunci" placeholder="Search your word ...">
          <button class="bersihkan" @click="bersihkan">Clear</button>
        </div>
      </div>
      </div>

      <div class="result">
        <div class="container">
        <div class="pagination">
          <button class="btn pertama" @click="navigasi('first')" :disabled="!paginasi['first']">
            First
          </button>
          <button class="btn sebelumnya" @click="navigasi('prev')" :disabled="!paginasi['prev']">
            Prev
          </button>
          <button class="btn selanjutnya" @click="navigasi('next')" :disabled="!paginasi['next']">
            Next
          </button>
          <button class="btn terakhir" @click="navigasi('last')" :disabled="!paginasi['last']">
            Last
          </button>
        </div>
        
        <div class="result-box">
         <div class="result-info">
          <div class="total mb-5">Total Hasil: {{ paginasi.total }}</div>
          <div class="halaman mb-5">Halaman ke: {{ paginasi.page }}</div>
         </div>
         <div class="result-list">
          <ul class="daftar">
            <li v-for="(hasil, i) in daftarHasil" :key="i" class="mb-3">
              <span v-html="hasil.text"></span>
              <a :href="`${url}&t=${hasil.start}s`" target="_blank">Youtube</a>
            </li>
          </ul>
         </div>
        </div>
      </div>
      </div>     
      <!-- <div class="mb-5">
        <pre class="paginasi">{{ jadikanString(paginasi) }}</pre>
      </div>
      <div class="mb-5">
        <pre class="data">{{ jadikanString(daftarHasil) }}</pre>
      </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="debounce.js"></script>
    <script src="vue.js"></script>
  </body>
</html>